@charset "utf-8";

/*********************** GENERAL ***********************/
/*Comunes*/

html{
    background-color: #ededd3;
    margin-left: 400px;
    margin-right: 400px;
    color: #426f58;
    justify-content: center;
}
/*Nota: cambié el margin de la version escritorio ya que esta semana mi hermano me presto su monitor mientras arreglan su compu, ya que yo estab usando uan tele viejita y los colores se veian muy saturados, y este monitor nuevo es más grande de la tele q tenia asi que veo todo más grande y siento que necesitaba mas margin porque sino se veia muy expandido todo y nome gustaba. Tambien aproveche a rehacer el css y reorganizarlo, creo que quedo más ordenado, del html no toque mucho mas, solo agregué la galeria que me faltaba*/

header{
    width: 100%;
    margin-top: 10px;
}

nav{
    background-color: #ededd3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    border-color: #426f58;
    width: fit-content;
    padding-left: 50px;
    padding-right: 50px;
    
    gap: 50px;
    left: 50%;
    
    transform: translateX(-50%);

    position: fixed;
    z-index: 50;
}
nav a{
    color: #426f58;
    text-decoration: none;
    gap: 50px;
    padding: 10px 30px 10px 30px;
    font-family: "Courier Prime";
    font-size: 15px;
    font-weight: 600;
    
}
nav a:hover{
    background-color: #426f58;
    color: #ededd3;
    border-radius: 20px;
}


main{
padding-top: 70px;
}
footer{
    background-color: #426f58;
    color: #ededd3;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-self: center;
    width: 100%;
    padding: 30px;
    margin: 50px 0px 0px 0px;
}
img{
    width: 100%;
    border-radius: 20px;
    border-color: #426f58;
    border-width: 2px;
    border-style: solid;
}
/***********************Textos***********************/
h1{
    font-family: "Titillium Web", sans-serif;
    font-size: 150px;
    font-style: italic;  
    font-weight: 200;
    margin-bottom: 0px;
    margin-top: 50px;
}
h2{
    font-family: "Titillium Web";
    font-size: 30px;
}

h3{
    font-family: "Courier Prime", monospace;
    font-weight: 600;
    font-size: 20px;
    padding: 0px;
    margin: 30px 0px 0px 0px;
}

h4{
    font-family: "Courier Prime", monospace;
    font-weight: 600;
    font-size: 20px;
    margin: 0px;
 
}

h5{
    font-family:"Titillium Web";
    font-weight: 600;
    font-style: italic;
    font-size: 15px;
    margin: 0px;
}
h6{
    font-family:"Titillium Web";
    font-weight: 400;
    font-style: italic;
    font-size: 15px;
}

h7{
    font-family:"Titillium Web";
    font-weight: 400;
    font-style: italic;
    font-size: 13px;
}
p{
    font-family:"Titillium Web";
    font-weight: 400;
    font-size: 15px;
    margin: 0px;
}
a{
    color: #426f58;
}
a:visited{
    color: #426f58;
}

li{
    font-family:"Titillium Web";
    font-weight: 400;
    font-size: 15px;
    margin: 10px;
    padding: 0px;
    position: relative;
    left: -15px;
}
/******Clases textos*******/
.letra-capitular{
     font-family: "Ballet", cursive;
     font-size: 250px;
     /**/
}

.h4-con-fondo{
    background-color: #426f58;
    color: #ededd3;
    align-self: center;
    padding: 10px 0px 10px 20px;
    border-radius: 10px;
}


/***********************Fin textos***********************/



/************************ INICIO INDEX************************/

.portada{
    width: 100%;
    align-items: center;
    justify-items: center;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #426f58;
    background-color: #ededd3;
}
.portada:hover{
    background-color: #426f58;
    color: #ededd3;
}
.portada h2{
    position: relative;
    left: -5%;
}

.contenedor-presentacion{
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 20px;
}
.contenedor-presentacion-titulo-foto-perfil{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
}
.imagen-hover-simon img{
    width: 203px;
    height: 203px;
}
.foto-perfil-yo{
    border-radius: 100%;
}
.foto-perfil-yo:hover{
    filter: blur(100%);
}.imagen-hover-simon img{
    border-radius: 100px;
    border-color: #426f58;
    border-style: solid;
    border-width: 2px;
}

.imageBox {
  position: relative;
  float: left;
}

.imageBox .hoverImg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.imageBox:hover .hoverImg {
  display: block;
}


.contenedor-presentación-lola-habilidades{
    display: flex;
    flex-direction: column;
    align-self: center;

}
.contenedor-lola-y-habilidades{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.contenedor-habilidades-diseño{
    display: flex;
    flex-direction: column;
    background-color: #426f58;
    color: #ededd3;
    padding: 20px;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
}

.contenedor-habilidades-diseño h4  ,h6{
    margin: 0px;
    padding: 0px;
}

.contenedor-habilidades{
    color: #ededd3;
    display: flex;
    flex-direction: row-reverse;
    width: fit-content;
    gap: 50px;
    align-items: end;
}


.habilidad img{
    border-radius: 10px;
    width: 42px;
    height: 42px;
    align-items: center;
}

.contenedor-cv{
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.contenedor-categorias{
    display: flex;
    flex-direction: column;
}

.categorias{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

.contenedor-habilidades-generales{
    display: flex;
    flex-direction: column;
    background-color: #426f58;
    color: #ededd3;
    padding: 20px;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
}

.contenedor-habilidades-generales h4{ 
    margin: 0px 0px 10px 0px;
    padding: 0px;
}

.contenedor-habilidades-generales h6{
    margin: 0px 10px 0px 5px;
    padding: 0px;
}

.contenedor-habilidades-generales p{
    padding: 0px 0px 20px 0px;
}

.contenedor-habilidades{
    color: #ededd3;
    display: flex;
    flex-direction: row-reverse;
    width: fit-content;
    gap: 50px;
    align-items: end;
}
.habilidad-idiomas ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    padding: 0px;
}

/***********************FIN INDEX***********************/
/***********************MASCOTAS***********************/

.titulo-mascotas{
    justify-items: center;
    justify-self: center;
    justify-content: center;
    margin-bottom: 0px;
}
.verde{
    background-color: #426f58;
    width: 100%;
    height: 2px;
    margin-bottom: 20px;
}




/***********************FIN MASCOTAS***********************/


/*MEDIA QUERIES*/
@media screen and (max-width:1200px){
    html{
        margin: 0px 20px 0px 20px;  
        display: flex;
    }
    nav{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
        footer{
        flex-direction: column;
        width: 100%;
    }
}
@media screen and (max-width:900px){
    html{
        margin: 0px 20px 0px 20px;  
        display: flex;
    }
    nav{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    footer{
        flex-direction: column;
    }
}

@media screen and (max-width:600px) {
    html{
        max-width: 100%;
        margin: 0px 20px 0px 20px;  
        display: flex;
        
        justify-self: center;
    }
    header{
        width: 100%;
    }
    nav{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    nav a{
        /*Probe con todos los align y justify al center y ninguno los movio al centor, asi que queda medio al costado. El coloreado queda en el centro, pero la palabra en si no*/
        width: 100%;
        padding: 0px;
        align-self: center;
        padding: 0px 20px 0px 20px;
    }
    nav a:hover{
        background-color: #426f58;
        color: #ededd3;
        border-radius: 20px;
        padding: 0px 20px 0px 20px;
 
    }
    footer{
        flex-direction: column;
    }
}






/*
Nota: intenté hacer un menu desplegable como el del prototipo utilizando los details y con el display=none, y que tipo cuando este en el media de 600 se viera visible el details y cuando hubiera más px de pantalla se ocultara y se mostrara el nav normal/original (el nav desktop), pero al final no me salio, no se por que me salian dos estrellitas cuando lo pasaba a 600px y ninguna me dejaba clickearla para expandirla, asi que lo deje asi


details > summary {
    list-style-type: "✦︎";
    color: #426f58;
}

details[open] > summary {
    list-style-type: "✦︎";
    color: #426f58;
}

details[closed] > summary {
    list-style-type: "✦︎";
    color: #426f58;
}*/






/*
Colores: 
#ededd3 beige
#426f58 verde oscuro

font-family:
"Titillium Web";
"Courier Prime"
*/

