@charset "utf-8";
/*CAMBIAR SUSE A TILLIUM WEB, para tener mas pesos.*/
html{
    background-color: #ededd3;
    margin-left: 30em;
    margin-right: 30em;
}
/* inicio textos, h1, h2, h3, h4, p */
    /* generales*/  
h1{
    font-family: "SUSE", sans-serif;
    font-size: 60px;
    color:#426f58;
    background-color: #ededd3;
    padding: 1em;
    border-color: #426f58;
    border-style:solid;
    border-width: 3px;
}
h2{
    font-family: "SUSE", sans-serif;
    font-size: 30px;
    color:#426f58;
}

h3{
    font-family: "Courier Prime", monospace;
    font-weight: 600;
    font-size: 20px;
    color:#426f58;
}

h4{
    font-family: "Courier Prime", monospace;
    font-weight: 600;
    font-size: 20px;
    color:#426f58;
}

p

    /* clases/id */
.letra-capitular{
     font-family: "Ballet", cursive;
     font-size: 300px;
}
.presentacion-hola{
    font-size: 60px;
}

h1:hover{
    color: #ededd3;
    background-color: #426f58;
    padding: 1em;
}

/* fin H */

/*Contenedores*/
.contenedor-presentacion{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    margin-bottom: 2em;
}
.contenedor-presentacion-titulo-foto-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-presentacion-parrafo-y-simon{
    display: flex;
    flex-direction: column;
}

img{
    border-radius: 100%;
}







/*
Colores: 
#ededd3 beige
#426f58 verde oscuro

*/