@charset "utf-8";
/*CAMBIAR SUSE A TILLIUM WEB, para tener mas pesos.*/
html{
    background-color: #ededd3;
    margin-left: 300px;
    margin-right: 300px;
    color:#426f58;
    display: flex;
    flex-direction: column;
}
header{
    margin-top: 10px;
}
main{
    margin-top: 130px;
}
/* inicio textos, h1, h2, h3, h4, p */
    /* generales*/  
h1{
    font-family: "Titillium Web", sans-serif;
    font-size: 150px;
    font-style: italic;
    font-weight: 200;
    margin-bottom: 0px;
    margin-top: 50px;
}

h2{
    font-family: "Titillium Web", sans-serif;
    font-size: 30px;
}

h3{
    font-family: "Courier Prime", monospace;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0px;
}

h4{
    font-family: "Courier Prime", monospace;
    font-weight: 600;
    font-size: 20px;
 
}

h5{
    font-family:"Titillium Web", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 15px;
}
h6{
    font-family:"Titillium Web", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 15px;
    margin: 0px;
}

h7{
    font-family:"Titillium Web", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 10px;
}

nav{
   margin-top: 1%;
    display: flex;
    border-style: solid;
    border-color: #426f58;
    justify-content: center;
    border-radius: 20px;
    width: 60%;
    padding: 0px;
    background-color: #ededd3;
    font-family: "Courier Prime", monospace;
    font-size: 80%;
    position: fixed;
    z-index: 50;
    
}


p{
    font-family:"Titillium Web", sans-serif;
    font-weight: 400;
    font-size: 15px;
}
a{
    font-family: "Courier Prime", monospace;
    font-weight: 200;
    font-size: 20px;
    color: #426f58;
    padding: 10px;
    border-radius: 1em;
    text-decoration: none;
}

li{
    list-style: none;
    margin: 0px;
    font-family:"Titillium Web", sans-serif;
    font-weight: 400;
    font-size: 15px;
}

/*Textos con clases/id*/
a:hover{
    color: #ededd3;
    background-color: #426f58;
    padding: 10px;
    border-radius: 1em;
    text-decoration: none;
}
.red-social{
    border-radius: 40px;
    border-color: #426f58;
    border-width: 3px;
    border-style: solid;
}
.letra-capitular{
     font-family: "Ballet", cursive;
     font-size: 250px;
     position: relative;
     left: -100px;
}
.h4-con-fondo{
    background-color: #426f58;
    color: #ededd3;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* fin textos */

/*Contenedores*/

.portada{
    background-color: #ededd3;
    padding: 1em;
    border-color: #426f58;
    border-style:solid;
    border-width: 3px;
    border-radius: 20em;
    justify-items: center;
    margin-top: 50px;
    width: 100%;
    height: 100%;
}
.portada:hover{
    color: #ededd3;
    background-color: #426f58;
    padding: 1em;
}

.contenedor-presentacion{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    margin-bottom: 2em;
    gap: 30px;
}
.contenedor-presentacion-titulo-foto-perfil{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contenedor-presentación-lola-habilidades{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 300px;

}
.contenedor-lola-y-habilidades{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.contenedor-habilidades-diseño{
    background-color: #426f58;
    color: #ededd3;
    padding-top: 10px;    
    border-radius: 40px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: fit-content;
}
.contenedor-habilidades-generales{
    display: flex;
    flex-direction: column;
    background-color: #426f58;
    color: #ededd3;
    padding-top: 10px;    
    border-radius: 40px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: fit-content;
}
.contenedor-habilidades{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: max-content;
  
}
.habilidad{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.categorias{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.contenedor-cv{
    display: flex;
    flex-direction: row;
}
.apartado-habilidades{
    background-color: #426f58;
    color: #ededd3;
    padding: 1em;
    border-radius: 1em;

}

/*contacto*/


#contenedor-redes-sociales{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    justify-self: center;
    
}
#redes{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    justify-self: center;
}
.imageBox {
  position: relative;
  float: left;
}

.imageBox .hoverImg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.imageBox:hover .hoverImg {
  display: block;
}





img{
    border-radius: 60px;  
    border-width: 3px;
    border-style: solid;  
}
.imagen-hover-simon{
    align-self: right; /*probe con todos los align y justify y no me lo deja alinear a la derecha como estaba en el figma, y con posicion me mueve la caja (el parrafo y la otra foto) de lugar*/
}
.foto-perfil{
    border-radius: 200px;
}


footer{
    background-color: #426f58;
    color: #ededd3;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    margin-top: 1em;
    justify-self: center;
    width: 100%;
    padding: 30px;
}


/*formulario*/
form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

label{
    color: #426f58;
    font-family: "Courier Prime", monospace;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    margin-top: 20px;
}

input{
    background-color: #ededd3;
    border-color: #426f58;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 20px ;
}
.tipo-de-pedido{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-self: center;
}
::placeholder{
    color: #868f8a;
    font-style: italic;
}

.enviar{
    background-color: #426f58;
    color: #ededd3;
    font-family: "Courier Prime", monospace;
    font-weight: 600;
    font-size: 20px;
}
.enviar::hover{
    background-color: #ededd3;
    color: #426f58;
    border-radius: 40px;
    border-style: solid;
    border-color: #426f58;
}
.formulario{
    display: flex;
    flex-direction: row;
}

.grilla-imagenes{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 350px 350px 350px;
    gap: 20px;
    justify-self: center;

}
.grilla-item{
    width: 100%;
    justify-content: center;
    gap: 20px
}




@media screen and (max-width: 600px) {
    header nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .portada{
        display: flex;
        flex-direction: column;
    }
    
}







/*
Colores: 
#ededd3 beige
#426f58 verde oscuro

*/